{% extends '::base.html.twig' %}

{% block title %}Admin Panel - Articles creation{% endblock %}

{% block body -%}
    <div class="col-xs-12 col-md-12">
	    <blockquote>
	        <p>Articles creation</p>
	    </blockquote>

		{{ form_start(form, {'action': path('articles_create'), 'method': 'post'}) }}
        	{{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.createAt) }}
                {{ form_errors(form.createAt) }}
		        <div class="form-group">
		            <div class='input-group date' id='datetimepicker1'>
		                {{ form_widget(form.createAt, { 'attr': {'class': 'form-control', 'data-date-format':'YYYY-MM-DD hh:mm:ss'} }) }}
		                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		            </div>
		        </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.categories) }}
                {{ form_errors(form.categories) }}
                {{ form_widget(form.categories, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
            </div>

        {{ form_end(form) }}

	    <a class="btn btn-default" href="{{ path('articles') }}">
	        Back to the list
	    </a>

    </div>  

{% endblock %}

{% block javascripts %}
	
	<script src="{{ asset('dist/js/moment-with-locales.js') }}"></script>
    <script src="{{ asset('dist/js/bootstrap-datetimepicker.js') }}"></script>
	
	<script type="text/javascript">
	

     $(document).ready(function(){
        $("#datetimepicker1").datetimepicker({pickTime: false});
    });
	</script>

{% endblock %}
